html {
  background-color: rgb(240, 238, 233);
  font-family: "Inter";
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-right: 5rem;
  margin-left: 5rem;
}

h1 {
  justify-self: center;
  font-size: 3.5rem;
}

.page-head {
  display: flex;
  justify-self: center;
}
.page-head img {
  height: 150px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 30px;
}

.output {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(112, 128, 144);
  border-radius: 15px;
}

.output h3 {
  font-size: 2rem;
}
