html {
  background-color: rgb(240, 238, 233);
  font-family: "Inter";
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-right: 5rem;
  margin-left: 5rem;
}

h1 {
  justify-self: center;
  font-size: 3.5rem;
}

.home {
  text-decoration: none;
  color: inherit;
}

.welcome {
  justify-self: center;
  font-size: 20px;
}

.instructions {
  justify-self: center;
  font-size: 12px;
}

.page-head {
  display: flex;
  justify-self: center;
}
.page-head img {
  height: 150px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 30px;
}

.output {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(112, 128, 144);
  border-radius: 15px;
  width: 500px;
  margin: auto;
}

.output h3 {
  font-size: 2rem;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: "200px";
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.carousel h4 {
  font-size: 20px;
}

.slide{
  width: 200px;
  height: 200px;
}
.slide-hidden {
  display: none;
}

.arrow {
  position: absolute;
  width: 2rem;
  height: 2rem;
  color:black;
}
.arrow:hover {
  cursor: pointer;
}

.arrow-left {
  left: 0.1rem;
}

.arrow-right {
  right: 0.1rem;
}

.indicators {
  display: flex;
  position: absolute;
  bottom: 1rem;
}
.indicator {
  background-color: black;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 100%;
  border: none;
  outline: none;
  box-shadow: 0px 0px 5px;
  margin: 0 0.2rem;
  cursor: pointer;
}
.indicator-inactive {
  background-color: grey;
}

.nav-links {
  display: flex;
  gap: 20px;
  justify-content: center;

}

.nav-link {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 23px;
  padding: 8px 12px;
  border-radius: 4px;
  transition: all 0.2s ease;
}

.nav-link:hover {
  color:rgb(112, 128, 144);
  background-color: #f3f2ef;
  border-radius: 10px;
  color:rgb(112, 128, 144);
  border: solid  1px;
}

.nav-link.active {
  color: rgb(112, 128, 144);
  border-bottom: 2px solid rgb(112, 128, 144);
}